#mapid { 
    height: 850px;
    width: auto;
  }
.leaflet-verticalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 10px;
  }